<%- include('partials/header')%>

<div class="container-fluid p-5">
  <form action="/menus/<%= dataMenu.id %>/addTag" method="POST">
    <h1><%= dataMenu.name %></h1>
      <div class="form-group">
        <label for ="tag">Tag:</label>
        <select name="tag" id="tag" class="form-control">
            <option selected disabled>Select Tag</option>
            <% tags.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select>
      </div>
      <div class="container-fluid text-right mb-3">
          <button type="submit" class="btn btn-primary text-right">Save</button>
          <a href="/orders"><button type="button" class="btn btn-danger text-right">Cancel</button></a>
        </div>
    </form>
</div>
</div>

<%- include('partials/footer')%>