<%- include('partials/header')%>

    <div class="container-fluid p-5">
        <h1><%= data.name %></h1>
        <div class="container-fluid text-right mb-3">
            <a href="/tags/add"><button type="button" class="btn btn-success">Add Tag</button></a>
        </div>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Menu</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0 ; i < data.Menus.length ; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data.Menus[i].name %></td>
                    <% } %>
                </tbody>
                <div class="container-fluid text-right mb-3">
                </div>
            </div>  
        </table>
    </div>
<%- include('partials/footer')%>